:root{
  --black-color: #000;
  --semi-black-color: #747474;
  --white-color: #fff;
  --semi-white-color: #D5D5D5;
  --active-bg-color: #E7F3FF;
  --light-green-color: #91FF8D;
  /* --icon-bg-color:#E5E6EB #E3E3E3 */
}
