@font-face{
  src: url('../fonts/Bhasa52.ttf');
  font-family: Bhasa52;
}
@font-face{
  src: url('../fonts/Sutonny.ttf');
  font-family: Sutonny;
}
@font-face{
  src: url('../fonts/TatsamBengali.otf');
  font-family: Tatsam;
}
@font-face{
  src: url('../fonts/TatsamBengaliNormal.otf');
  font-family: Tatsam Normal;
}
