*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tatsam;
}
html{
  scroll-behavior: smooth;
}
a{
 color: #000;
 text-decoration: none;
 display: inline-block;
}
h1{
  font-size: 30px;
  line-height: 30px;
}
h2{
  font-size: 25px;
  line-height: 25px;
  font-weight: 500;
}
h1, h2{
  margin: 10px 0;
}
.icon{  
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--icon-bg-color);
}
.icon:hover{
  background: var(--active-bg-color);
}
.hover-rotate:hover{
  transform: rotate(180deg);
  transition: transform 0.8s ;
}
.active-page{
  font-weight: bold;
  color: #FF4E4E;
}
::selection{
  background-color: var(--light-green-color);
}
nav{
  width: 100%;
  height: 70px;
  background: var(--white-color);
  border-bottom: 1px solid var(--semi-white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
nav .logo a{
  font-size: 30px;
  font-family: Bhasa52;
}
.nav-links .nav-links-header{
  display: none;
}
nav .nav-links li {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  font-size: 20px;
  line-height: 20px
}
.menu-icon{
  display: none;
}
main{
  width: 100%;
  min-height: 100vh;
  padding: 80px 15px 10px 15px;
  position: relative;
}
.latest-vid-covr{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 15px;
}
.video{
  width:467px;
  height: 467px;
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--semi-white-color);
  outline: none;
  background-image: url('../icons/loader.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 50;
  
}
.latest-vid-des{
  text-align:left;
  margin: 10px 0;
  font-size: 18px;
  font-family: Tatsam Normal;
}
p{
  font-family: Tatsam Normal;
  text-align: justify;
  font-size: 20px
}
